/* ----------------- */
/* --- CSS Reset --- */
/* ----------------- */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    line-height: 150%;
}

/* -------------- */
/* --- Header --- */
/* -------------- */
header {
    background-color: #2E0707;
    box-shadow: 0px 7px 10.7px 3px rgba(0, 0, 0, 0.50);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
}

.header_mobil {
    padding: 1%;
}

/* Burgermenuikon */
.burgermenu_container {
    display: flex;
    justify-content: flex-end;
}

#burgermenu {
    width: 10%;
    margin: 0 5% 0 0;
}

/* ----------------------------- */
/* --- Navigation Burgermenu --- */
/* ----------------------------- */
#menu_container {
    background-color: #2E0707;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 7px 10.7px 3px rgba(0, 0, 0, 0.50);
    position: fixed;
    margin-top: 0;
}

.menubtn {
    border: none;
    background-color: #2E0707;
    color: #F0E7D0;
    font-family: Snell Roundhand Script, serif;
    font-size: 14pt;
    margin: 5% 0 5% 0;
    width: 100%;
}

.dropdown_indhold {
    text-align: center;
    background-color: #F0E7D0;
    display: none;
    width: 100%;
}

.dropdown_indhold a {
    color: #2E0707;
    font-family: Montserrat, sans-serif;
    font-size: 12pt;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.dropdown_indhold a:active {
    background-color: #2E0707;
    color: #F0E7D0;
}

.dropdown_menu {
    display: none;
}

/* ------------ */
/* --- Logo --- */
/* ------------ */
.logo {
    width: 18%;
    top: 3%;
    left: 5%;
    position: absolute;
    z-index: 12;
    position: fixed;
}

/* --------------- */
/* --- Forside --- */
/* --------------- */
.baggrund_forside {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: -20%;
}

.intro_forside {
    background-color: #2E0707;
    margin: 24% 7%;
    padding: 8% 5.5% 5% 5.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.intro_baggrundsbillede {
    position: absolute;
    height: 50%;
    z-index: 1;
}

.intro_billede {
    width: 100%;
}

.lys_tekst {
    color: #F0E7D0;
    font-size: 10pt;
    margin-bottom: 12%;
}

.gul_tekst {
    margin: 3% 0 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gul_tekst_lille {
    font-family: Snell Roundhand Script, serif;
    color: #E7B129;
    font-size: 14pt;
}

.gul_tekst_stor {
    font-family: Snell Roundhand Script, serif;
    color: #E7B129;
    font-size: 36pt;
    padding: 1%;
}

.mysterywine_forside {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 7% 0 7% 0;
    padding: 8% 7% 5% 7%;
    background-color: #1D0303;
    box-shadow: 0 0 5px 20px #1D0303;
}

.mysterywine_img_container {
    display: flex;
    justify-content: center;
}

.mysterywine_img {
    width: 80%;
}

.læsmere_btn {
    background-color: #841414;
    border: none;
    border-radius: 2.5%;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 4% 14%;
}

.læsmere_btn_container {
    display: flex;
    justify-content: center;
    margin-top: -10%;
    padding-bottom: 25%;
    background-color: #1D0303;
}

.beige_wave {
    width: 100%;
    margin: -15% 0 0 0;
    height: 90em;
    position: absolute;
    position: relative;
    z-index: 3;
}

.champagne_info_container {
    position: absolute;
    z-index: 5;
    width: 100%;
}

.info_indhold {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champagne_info_img {
    width: 7em;
    margin: 20% 0 2% 0;
}

.champagne_info_boks {
    background-color: #FEFAF1;
    border: #3F0A0A solid 2px;
    color: #3F0A0A;
    text-align: center;
    width: 55%;
    padding: 10% 5%;
    margin: 5%;
}

.cirkel_info {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3F0A0A;
    display: inline-block;
}

.vertikal_streg_info {
    height: 4em;
    width: 2px;
    background-color: #3F0A0A;
    display: inline-block;
    margin-bottom: -5%;
}

.vertikal_streg_info_2 {
    height: 4em;
    width: 2px;
    background-color: #3F0A0A;
    display: inline-block;
    margin-bottom: -5%;
    margin-top: -5%;
}

.graa_tekst {
    font-family: Snell Roundhand Script, serif;
    color: #ADA796;
    font-size: 28pt;
    text-align: center;
}

.roed_tekst {
    font-family: Snell Roundhand Script, serif;
    color: #3F0A0A;
    font-size: 54pt;
    text-align: center;
    font-weight: 500;
    padding: 2%;
}

.champagne_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sevoresvinkort_btn {
    background-color: #841414;
    border: none;
    border-radius: 2.5%;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 4% 14%;
    position: absolute;
}

.sevoresvinkort_btn_container {
    display: flex;
    justify-content: center;
    margin: 3%;
    padding-bottom: 20%;
}

.tilbyder_forside {
    background-color: #4C0D0D;
    background-image: url(img/moenster-forside.png);
    background-size: cover;
    margin: -45% 0 0 0;
    padding: 0 0 5% 0;
    position: relative;
}

.lys_tekst_stor {
    font-family: Snell Roundhand Script, serif;
    color: #F0E5D0;
    font-size: 24pt;
    font-weight: 100;
}

.tilbyder_indhold_forside {
    background-color: #2E0707;
    margin: 7%;
    padding: 8% 5.5% 5% 5.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

h4 {
    font-family: Snell Roundhand Script, serif;
    color: #E7B129;
    font-size: 36pt;
    margin-top: 35%;
    padding-top: 40%;
    margin-bottom: 10%;
    font-weight: lighter;
    text-align: center;
}

.draabe_forside {
    width: 100%;
    margin: -12% 0 15% 0;
    position: absolute;
    z-index: 2;
}

.tilbyder_billede {
    width: 100%;
    margin: 12% 0;
}

/* --- OBS skal slettes igen --- */
.booking_btn {
    background-color: #841414;
    border: none;
    border-radius: 2.5%;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 4% 14%;
}

.booking_btn_container {
    display: flex;
    justify-content: center;
    margin-top: -30%;
}

h3 {
    font-family: Snell Roundhand Script, serif;
    color: #F0E7D0;
    font-weight: lighter;
    font-size: 23pt;
    text-align: center;
}

.tilbage_btn {
    background-color: #841414;
    border: none;
    border-radius: 2.5%;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 3% 8%;
}

.tilbage_btn_container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 9%;
}

/* footer --- Skal slettes */

.footer {
    background-color: #2E0707;
    font-family: montserrat;
    font-weight: 200;
    font-size: 10pt;
    color: #F0E7D0 ;
}

.overskrift_footer {
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
    padding-top: 6% ;
}

/* info */

.info_container_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
}

.container_1_footer {
    line-height: 150%;
}

.container_2_footer {
    text-align: right;
    line-height: 150%;
}

/* åbningstider */

.aabningstider_container_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 33%;
}

.container_3_footer {
    line-height: 150%;
    margin-left: 5%;
}

.container_4_footer {
    text-align: right;
    line-height: 150%;
}

.aabningstider_footer {
    margin-left: 10.5%;
    margin-top: 5%;
    line-height: 150%;
}

.koekkenetaabner_footer {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 7%;
}

/* maps */

.maps {
    width: 85%;
    margin-bottom: 5%;
}

.maps_image_container {
    display: flex;
    justify-content: center;
}

.findos_footer {
    margin-left: 7.5%;
    margin-bottom: 3%;
    font-size: 11pt;
}

/* some */

.facebook {
    width: 2rem;
}

.instagram {
    width: 2rem;
}

.kontrolrapport {
    width: 6.1875rem;
    margin-left: 7.5%;
}

.some_container_footer {
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-content: center;
}

.dk_footer {
    margin-left: 7.5%;
    margin-top: 8%;
    padding-bottom: 5%;
    font-size: 9pt;
}

/* ---------------------- */
/* --- CSS stor skærm --- */
/* ---------------------- */
@media screen and (min-width: 968px) {
    /* -------------- */
    /* --- Header --- */
    /* -------------- */
    header {
        height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #burgermenu {
        display: none;
    }

    /* ----------------------------- */
    /* --- Navigation Burgermenu --- */
    /* ----------------------------- */
    .menubtn {
        display: none;
    }

    .dropdown_indhold {
        display: none;
    }

    .dropdown_menu {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .dropdown_indhold_pc {
        text-align: center;
        background-color: #F0E7D0;
        display: none;
        width: 12%;
        display: none;
        position: absolute;
        border-radius: 1%;
    }

    .dropdown_indhold_pc a {
        color: #2E0707;
        font-family: Montserrat, sans-serif;
        font-size: 12pt;
        padding: 10%;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        font-weight: 400;
    }

    .dropdown:hover .dropdown_indhold_pc {
        display: block;
    }

    .dropdown_indhold_pc a:hover {
        background-color: #2E0707;
        color: #F0E7D0;
    }

    .dropdown_btn {
        border: none;
        background-color: #2E0707;
        color: #F0E7D0;
        font-family: Snell Roundhand Script;
        font-size: 18pt;
        width: 7em;
        height: 2em;
    }

    .menu_venstre, .menu_hoejre {
        display: flex;
        flex-direction: row;
    }

    /* ------------ */
    /* --- Logo --- */
    /* ------------ */    
    .logo_container {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 10%;
        margin: 1% 0 0 0;
    }

    /* --------------- */
    /* --- Forside --- */
    /* --------------- */
    .baggrundsbillede_pc {
        width: 100%;
        margin-top: -7%;
    }

    .baggrund_forside {
        background-image: none;
    }
}