* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Vinkort underside */
.body_vinkort {
    background-color: #590F0F ;
}

.lille_overskrift {
    font-family: Snell Roundhand Script, serif;
    color: #F0E7D0;
    font-weight: lighter;
    font-size: 23pt;
    text-align: center;
    margin-top: 17%;
    margin-bottom: 1%;
}

.tilgang_btn {
    background-color: #841414;
    border: none;
    border-radius: 0.1875rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 200;
    font-size: 14pt;
    width: 82%;
    margin: 2% 0%;
    padding: 5% 0;
}

#tilgang_btn_container {
    margin-top: 8%;
}

.tilgang_btn_container_div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#draabe_vinkort {
    width: 100%;
    margin-bottom: -10%;
    margin-top: -10%;
    z-index: 1;
    position: relative;
}

#lille_overskrift {
    font-family: Snell Roundhand Script, serif;
    color: #F0E7D0;
    font-weight: lighter;
    font-size: 30pt;
    text-align: center;
    margin-top: 17%;
    margin-bottom: -8.5%;
    position: relative;
    z-index: 3;
}

#pil_scroll_container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}

#pil_scroll {
    margin-bottom: 8%;
    animation: scrollpil 2s infinite;
}

    /* animation der bevæger pilen nedad og øger opacity for at indikere at man skal scrolle ned for at se mere */
@keyframes scrollpil {
    0% {opacity: 0;}
    25% {opacity: 0.3; transform: translateY(25px);}
    50% {opacity: 0.8; transform: translateY(25px);}
    100% {opacity: 1; transform: translateY(25px);}
}

#worldmap {
    width: 100%;
    margin-top: 7%;
    margin-bottom: -10%;
}

#underoverskrift_vinkort {
    color: white;
    text-align: center;
    font-weight: lighter;
    margin-top: 5%;
    font-size: 14pt;
}

.main_overskrift_vinkort {
    font-size: 15pt;
}


/* røde bokse med vin */

.vin_flasker_img {
    width: 5.5em;
    margin-bottom: 14%;
}

.flag {
    width: 6%;
    position: absolute;
    right: 15%;
}

.navn_vin {
    color: #F0E5D0;
    font-size: 9pt;
    font-style: italic;
    margin-bottom: 4.5%;
    line-height: 130%;
}

.beskrivelse_vin {
    color: #F0E5D0;
    font-size: 10pt;
    font-style: italic;
    line-height: 130%;
    font-weight: 100;
}

.vin_containere {
    background-color: #3F0A0A ;
    margin: 7%;
    padding: 8% 5.5% 5% 5.5%;
}

.img_flaske_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overskrifter_vinkort {
    font-family: Snell Roundhand Script, serif;
    color: #E7B129;
    font-size: 32pt;
    margin-top: 18%;
    margin-bottom: 10%;
    font-weight: lighter;
    text-align: center;
}


/* sektion med vinkort over plan b's andre specialiteter "se resten af vores specialiteter" */

.beige_boks {
    background-color: #DED2BC ;
    margin: 7%;
    padding: 8% 5.5% 5% 5.5%;
}

.overskrift_beige_boks {
    font-size: 35pt;
    font-family: 'Futura Condensed PT', sans-serif;
    font-weight: 200;
    text-align: center;
    margin-bottom: 4.5%;
}

.underoverkrift1_beige_boks {
    display: flex;
    justify-content: space-between;
}

.underoverskrifter_beige_boks {
    font-family: 'Futura Condensed PT', sans-serif;
    font-weight: 200;
    font-size: 17pt;
}

.pris_underoverskrift_beige_boks {
    font-family: montserrat;
    font-weight: 400;
    font-size: 11pt;
    font-style: italic;
    display: flex;
    justify-content: right;
    align-items: end;
}

.container1_beige_boks {
    display: flex;
    flex-direction: column;
    font-family: 'Futura Condensed PT', sans-serif;
    font-weight: lighter;
    font-size: 14pt;
    margin-top: 3%;
    margin-bottom: 13%;
    line-height: 170%;
}

.beskrivelse_tekst {
    font-family: montserrat;
    font-style: italic;
    font-size: 10pt;
    margin-top: -6%;
    margin-bottom: 6%;
}

.beskrivelse_tekst2 {
    font-family: montserrat;
    font-style: italic;
    line-height: 120%;
    font-size: 10pt;
    margin-bottom: 6%;
    max-width: 95%;
}

#saesonensvin_pris {
    font-family: montserrat;
    font-style: italic;
    font-size: 10pt;
    margin-bottom: 6%;
}



/* priser */

.container2_beige_boks {
    display: flex;
    flex-direction: column;
    font-family: montserrat;
    font-weight: 300;
    font-size: 11pt;
    margin-top: 4.9%;
    font-style: italic;
    gap: 12.5%;
}

.container2_beige_boks_midt {
    display: flex;
    flex-direction: column;
    font-family: montserrat;
    font-weight: 300;
    font-size: 11pt;
    margin-top: 6%;
    font-style: italic;
    gap: 12.5%;
}

.container_beige_boks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container2_beige_boks_sidste {
    display: flex;
    font-family: montserrat;
    font-weight: 300;
    font-size: 11pt;
    font-style: italic;
    gap: 11%;
    flex-direction: column;
    margin-top: 11%;
    padding: 1.5%;
}

.minus_lineheight {
    margin-top: -4.5%;
}

#special_pris {
    margin-top: 21%;
}

#special_pris2 {
    margin-top: 21%;
}

.container23_beige_boks {
    display: flex;
    flex-direction: column;
    font-family: montserrat;
    font-weight: 300;
    font-size: 11pt;
    margin-top: 4.9%;
    font-style: italic;
    gap: 5%;
}

.container24_beige_boks {
    display: flex;
    align-items: end;
    flex-direction: column;
    font-family: montserrat;
    font-weight: 300;
    font-size: 11pt;
    margin-top: 4.9%;
    font-style: italic;
    gap: 14.5%;
    width: 20%;
}

.container25_beige_boks {
    display: flex;
    align-items: end;
    flex-direction: column;
    font-family: montserrat;
    font-weight: 300;
    font-size: 11pt;
    margin-top: 4.9%;
    font-style: italic;
    gap: 25.8%;
    width: 50%;
}

.container26_beige_boks {
    display: flex;
    align-items: end;
    flex-direction: column;
    font-family: montserrat;
    font-weight: 300;
    font-size: 11pt;
    margin-top: 4.9%;
    font-style: italic;
    gap: 16.3%;
}

#pris_17 {
    margin-top: 30%;
}

#pris_18 {
    margin-top: 38%;
}

    /* priser på kult bar rødvin*/
#pris_2 {
    margin-top: -1.5%;
}
#pris_3 {
    margin-top: -6%;
}
#pris_4, #pris_5, #pris_6, #pris_7, #pris_8, #pris_9, #pris_10, #pris_11, #pris_12, #pris_13, #pris_14, #pris_15 {
    margin-top: -3.7%;
}

#pris_16 {
    margin-top: 14.5%;
}




/* alle "gå til booking" knapper */
.booking_btn {
    background-color: #841414;
    border: none;
    border-radius: 0.1875rem;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 4% 14%;
}

.booking_btn_container {
    display: flex;
    justify-content: center;
    margin-top: -13%;
}




/* alle "tilbage til toppen" knapper */
.tilbage_btn {
    background-color: #841414;
    border: none;
    border-radius: 0.1875rem;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 3% 8%;
}

.tilbage_btn_container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 9%;
}




/* footer */

.footer {
    background-color: #2E0707;
    font-family: montserrat;
    font-weight: 200;
    font-size: 10pt;
    color: #F0E7D0 ;
}

.overskrift_footer {
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
    padding-top: 6% ;
}

/* info */

.info_container_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
}

.container_1_footer {
    line-height: 150%;
}

.container_2_footer {
    text-align: right;
    line-height: 150%;
}

/* åbningstider */

.aabningstider_container_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 33%;
}

.container_3_footer {
    line-height: 150%;
    margin-left: 5%;
}

.container_4_footer {
    text-align: right;
    line-height: 150%;
}

.aabningstider_footer {
    margin-left: 10.5%;
    margin-top: 5%;
    line-height: 150%;
}

.koekkenetaabner_footer {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 7%;
}

/* maps */

.maps {
    width: 85%;
    margin-bottom: 5%;
}

.maps_image_container {
    display: flex;
    justify-content: center;
}

.findos_footer {
    margin-left: 7.5%;
    margin-bottom: 3%;
    font-size: 11pt;
}

/* some */

.facebook {
    width: 2rem;
}

.instagram {
    width: 2rem;
}

.kontrolrapport {
    width: 6.1875rem;
    margin-left: 7.5%;
}

.some_container_footer {
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-content: center;
}

.dk_footer {
    margin-left: 7.5%;
    margin-top: 8%;
    padding-bottom: 5%;
    font-size: 9pt;
}