/* ----------------- */
/* --- CSS Reset --- */
/* ----------------- */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 11pt;
}

/* -------------- */
/* --- Header --- */
/* -------------- */
header {
    background-color: #2E0707;
    box-shadow: 0px 7px 10.7px 3px rgba(0, 0, 0, 0.50);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
}

.header_mobil {
    padding: 1%;
}

/* Burgermenuikon */
.burgermenu_container {
    display: flex;
    justify-content: flex-end;
}

#burgermenu {
    width: 10%;
    margin: 0 5% 0 0;
}

/* ----------------------------- */
/* --- Navigation Burgermenu --- */
/* ----------------------------- */
#menu_container {
    background-color: #2E0707;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 7px 10.7px 3px rgba(0, 0, 0, 0.50);
    position: fixed;
    margin-top: 0;
}

.menubtn {
    border: none;
    background-color: #2E0707;
    color: #F0E7D0;
    font-family: Snell Roundhand Script, serif;
    font-size: 14pt;
    margin: 5% 0 5% 0;
    width: 100%;
}

.dropdown_indhold {
    text-align: center;
    background-color: #F0E7D0;
    display: none;
    width: 100%;
}

.dropdown_indhold a {
    color: #2E0707;
    font-family: Montserrat, sans-serif;
    font-size: 12pt;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.dropdown_indhold a:active {
    background-color: #2E0707;
    color: #F0E7D0;
}

.dropdown_menu {
    display: none;
}

/* ------------ */
/* --- Logo --- */
/* ------------ */
.logo {
    width: 18%;
    top: 3%;
    left: 5%;
    z-index: 12;
    position: fixed;
}

.logo_pc {
    display: none;
}

/* --------------- */
/* --- Forside --- */
/* --------------- */
.body_forside {
    background-color: #4C0D0D;
    position: absolute;
    z-index: -10;
}

/* --- Intro --- */

.baggrund_forside {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: -20%;
}

.baggrundsbillede_pc {
    display: none;
}

.intro_forside {
    background-color: #2E0707;
    margin: 24% 7%;
    padding: 8% 5.5% 5% 5.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.intro_baggrundsbillede {
    position: absolute;
    height: 50%;
    z-index: 1;
}

.intro_billede {
    width: 100%;
}

.lys_tekst {
    color: #F0E7D0;
    margin-bottom: 12%;
}

.gul_tekst {
    margin: 3% 0 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gul_tekst_lille {
    font-family: Snell Roundhand Script, serif;
    color: #E7B129;
    font-size: 14pt;
}

.gul_tekst_stor {
    font-family: Snell Roundhand Script, serif;
    color: #E7B129;
    font-size: 36pt;
    padding: 1%;
}

#booking_btn_forside {
    display: none;
}

#video_forside {
    width: 100%;
    margin: -2% 0 2% 0;
}

/* --- Mystisk tirsdag --- */

.mysterywine_forside {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 7% 0 7% 0;
    padding: 8% 7% 5% 7%;
    background-color: #1D0303;
    box-shadow: 0 0 5px 20px #1D0303;
}

.mysterywine_img_container {
    display: flex;
    justify-content: center;
}

.mysterywine_img {
    width: 80%;
}

.læsmere_btn {
    background-color: #841414;
    border: none;
    border-radius: 2.5%;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 4% 14%;
}

.læsmere_btn_container {
    display: flex;
    justify-content: center;
    margin-top: -10%;
    padding-bottom: 25%;
    background-color: #1D0303;
}

.læsmere_btn_forside {
    display: none;
}

.fodspor_forside {
    display: none;
}

/* --- Personalets favorit --- */

.champagne_pc {
    display: none;
}

.beige_wave {
    width: 100%;
    margin: -15% 0 0 0;
    height: 90em;
    position: absolute;
    position: relative;
    z-index: 3;
}

.champagne_info_container {
    position: absolute;
    z-index: 5;
    width: 100%;
}

.info_indhold {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champagne_info_img {
    width: 7em;
    margin: 20% 0 2% 0;
}

.champagne_info_boks {
    background-color: #FEFAF1;
    border: #3F0A0A solid 2px;
    color: #3F0A0A;
    text-align: center;
    width: 55%;
    padding: 10% 5%;
    margin: 5%;
}

.cirkel_info {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3F0A0A;
    display: inline-block;
}

.vertikal_streg_info {
    height: 4em;
    width: 2px;
    background-color: #3F0A0A;
    display: inline-block;
    margin-bottom: -5%;
}

.vertikal_streg_info_2 {
    height: 4em;
    width: 2px;
    background-color: #3F0A0A;
    display: inline-block;
    margin-bottom: -5%;
    margin-top: -5%;
}

.graa_tekst {
    font-family: Snell Roundhand Script, serif;
    color: #ADA796;
    font-size: 28pt;
    text-align: center;
}

.roed_tekst {
    font-family: Snell Roundhand Script, serif;
    color: #3F0A0A;
    font-size: 54pt;
    text-align: center;
    font-weight: 500;
    padding: 2%;
}

.champagne_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sevoresvinkort_btn {
    background-color: #841414;
    border: none;
    border-radius: 2.5%;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 4% 14%;
    position: absolute;
}

.sevoresvinkort_btn_container {
    display: flex;
    justify-content: center;
    margin: 3%;
    padding-bottom: 20%;
}

/* --- Vi tilbyder også --- */

.tilbyder_forside {
    background-color: #4C0D0D;
    background-image: url(img/moenster-forside.png);
    background-size: cover;
    margin: -45% 0 0 0;
    padding: 0 0 5% 0;
    position: relative;
}

.lys_tekst_stor {
    font-family: Snell Roundhand Script, serif;
    color: #F0E5D0;
    font-size: 24pt;
    font-weight: 100;
}

.lys_tekst_tilbyder {
    color: #F0E7D0;
    font-size: 14pt;
    line-height: 150%;
    margin: 0 0 10% 0;
}

#tekst_wd {
    margin-top: -15%;
}

.tilbyder_indhold_forside {
    background-color: #2E0707;
    margin: 7%;
    padding: 8% 5.5% 5% 5.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

h4 {
    font-family: Snell Roundhand Script, serif;
    color: #E7B129;
    font-size: 36pt;
    margin-top: 35%;
    padding-top: 40%;
    margin-bottom: 10%;
    font-weight: lighter;
    text-align: center;
}

.draabe_forside {
    width: 100%;
    margin: -12% 0 15% 0;
    position: absolute;
    z-index: 2;
}

.draabe_stor_forside {
    display: none;
}

.tilbyder_billede {
    width: 100%;
    margin: 12% 0;
}

#tilbyder3 {
    margin: -22% 0 -10% 6%;
}

.tilbyder3_mobil {
    margin: 15% 0;
}

#vinkort_btn_hide {
    display: none;
}

/* -------------------*/
/* ---- Se stedet --- */
/* ------------------ */

h1 {
    font-family: Snell Roundhand Script, serif;
    font-size: 28pt;
    font-weight: 100;
    margin: 15% 0;
}

#lys_tekst_header {
    text-align: center;
    font-size: 12pt;
}

.h1_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25% 16%;
}

.hyggekrog1_indhold {
    margin: 12% 7% 12% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    max-width: 100%;
}

#beige_wave_sestedet {
    width: 100%;
    margin: -20% 0 0 0;
    height: 73em;
    position: absolute;
    z-index: -1;
}

#druen {
    padding-top: 5%;
}

.hjoerne1 {
    height: 3em;
}

.hjoerne2 {
    height: 3em;
    transform: rotate(90deg);
}

.hjoerne3 {
    height: 3em;
    transform: rotate(-90deg);
    margin-top: -5%;
}

.hjoerne4 {
    height: 3em;
    transform: rotate(180deg);
    margin-top: -5%;
}

.hjoerne_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#roed_stedet {
    font-size: 36pt;
    margin-top: -2%;
}

#roed_lille_stedet {
    text-align: center;
    padding: 5% 5%;
}

#lys_stedet {
    font-size: 36pt;
    margin-top: -2%;
    color: #F0E5D0;
}

#lys_lille_stedet {
    text-align: center;
    padding: 5% 5%;
    color: #F0E5D0;
}

.stedet_billede {
    width: 100%;
    padding: 0 7% 0 7%;
}

.hyggekrog2_container {
    margin-top: 35%;
}

.stedet_baggrund {
    background-image: url(img/moenster2.png);
    background-size: 100%;
    position: relative;
    z-index: -3;
}

#booking_stedet_btn {
    margin-top: 10%;
}

.kort_billede {
    width: 100%;
}

.h1_stedet {
    color: #ffffff;
    font-size: 48pt;
    text-align: center;
    margin: 25% 0 10% 0;
    font-weight: 100;
}

.slide_video {
    background-color: #4C0D0D;
    margin: -40% 0 0 0;
    height: auto;
}

.stedet_container {
    padding: 35% 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

video {
    width: 85%;
}

.stedet_lys_tekst {
    margin-bottom: 0;
    font-size: 18pt;
    color: #ffffff;
    padding: 3% 5%;
}

#stedet_lille_tekst {
    font-size: 12pt;
    padding-bottom: 5%;
}

.billedgalleri {
    width: 85%;
    margin: 5% 0 15% 0;
}

#pil_v {
    transform: rotate(180deg);
}

.pile_slide {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    top: 80%;
}

.beige_wave_stor {
    display: none;
}

#book_pc {
    display: none;
}

/*
.cirkel_galleri {
    width: 10px;
    height: 10px;
    background-color: #671313;
    border-radius: 50%;
    margin: 30%;
}*/

/* -------------------- */
/* --- Mystery Wine --- */
/* -------------------- */

.mysterywine_img_intro_container {
    display: flex;
    justify-content: center;
}

.mysterywine_img_intro {
    width: 70%;
    margin: 20% 0;
}

.lys_tekst_mw {
    font-family: Snell Roundhand Script, serif;
    font-size: 42pt;
    color: #F0E5D0;
    text-align: center;
    font-weight: 500;
    padding: 10% 0;
}

.lys_lille_mw {
    padding: 5% 15%;
    color: #F0E5D0;
    font-size: 11pt;
}

.mw_tekst_container {
    position: absolute;
    z-index: 2;
}

#beige_wave_mw {
    width: 100%;
    margin: -20% 0 0 0;
    height: 78em;
    position: absolute;
    z-index: -1;
}

.forbered_mw {
    background-color: #1D0303;
    position: relative;
    z-index: -3;
    padding-bottom: 10%;
}

#mw_tekst_forbered {
    text-align: center;
    font-size: 15pt;
    padding: 35% 5% 10% 5%;
}

#mw_stor2 {
    margin-top: 5%;
}

#beige_wave_mw_stor {
    display: none;
}

/* --- OBS skal slettes igen --- */
.booking_btn {
    background-color: #841414;
    border: none;
    border-radius: 2.5%;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 4% 14%;
}

.booking_btn_container {
    display: flex;
    justify-content: center;
    margin-top: -30%;
}

h3 {
    font-family: Snell Roundhand Script, serif;
    color: #F0E7D0;
    font-weight: lighter;
    font-size: 23pt;
    text-align: center;
}

/* --- obs skal ikke slettes --- */
.tilbage_btn {
    background-color: #841414;
    border: none;
    border-radius: 2.5%;
    color: #F0E7D0;
    font-family: montserrat;
    font-weight: 300;
    font-size: 12pt;
    padding: 3% 8%;
    margin-top: 5%;
}

.tilbage_btn_container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 9%;
}

/* footer --- Skal slettes */

.footer {
    background-color: #2E0707;
    font-family: montserrat;
    font-weight: 200;
    font-size: 10pt;
    color: #F0E7D0;
}

.overskrift_footer {
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
    padding-top: 6% ;
}

/* info */

.info_container_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
}

.container_1_footer {
    line-height: 150%;
}

.container_2_footer {
    text-align: right;
    line-height: 150%;
}

/* åbningstider */

.aabningstider_container_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 33%;
}

.container_3_footer {
    line-height: 150%;
    margin-left: 5%;
}

.container_4_footer {
    text-align: right;
    line-height: 150%;
}

.aabningstider_footer {
    margin-left: 10.5%;
    margin-top: 5%;
    line-height: 150%;
}

.koekkenetaabner_footer {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 7%;
}

/* maps */

.maps {
    width: 85%;
    margin-bottom: 5%;
}

.maps_image_container {
    display: flex;
    justify-content: center;
}

.findos_footer {
    margin-left: 7.5%;
    margin-bottom: 3%;
    font-size: 11pt;
}

/* some */

.facebook {
    width: 2rem;
}

.instagram {
    width: 2rem;
}

.kontrolrapport {
    width: 6.1875rem;
    margin-left: 7.5%;
}

.some_container_footer {
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-content: center;
}

.dk_footer {
    margin-left: 7.5%;
    margin-top: 8%;
    padding-bottom: 5%;
    font-size: 9pt;
}

/* ---------------------- */
/* --- CSS stor skærm --- */
/* ---------------------- */
@media screen and (min-width: 968px) {
    /* -------------- */
    /* --- Header --- */
    /* -------------- */
    header {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header_mobil {
        display: none;
    }

    .header_pc {
        display: flex;
        flex-direction: column;
    }

    #burgermenu {
        display: none;
    }

    /* ----------------------------- */
    /* --- Navigation Burgermenu --- */
    /* ----------------------------- */
    .menubtn {
        display: none;
    }

    .dropdown_indhold {
        display: none;
    }

    .dropdown_menu {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .dropdown_indhold_pc {
        text-align: center;
        background-color: #F0E7D0;
        border: 1px solid #2E0707;
        display: none;
        width: 12%;
        display: none;
        position: absolute;
        border-radius: 1%;
    }

    .dropdown_indhold_pc a {
        color: #2E0707;
        font-family: Montserrat, sans-serif;
        font-size: 11pt;
        padding: 10%;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        font-weight: 400;
    }

    .dropdown:hover .dropdown_indhold_pc {
        display: block;
    }

    .dropdown_indhold_pc a:hover {
        background-color: #2E0707;
        color: #F0E7D0;
    }

    .dropdown_btn {
        border: none;
        background-color: #2E0707;
        color: #F0E7D0;
        font-family: Snell Roundhand Script;
        font-size: 16pt;
        font-weight: 100;
        width: 7em;
        height: 2em;
    }

    .menu_venstre, .menu_hoejre {
        display: flex;
        flex-direction: row;
    }

    /* ------------ */
    /* --- Logo --- */
    /* ------------ */    
    .logo_container {
        position: absolute;
        top: 45%;
        width: 15%;
    }

    .logo_pc {
        display: flex;
        width: 75%;
    }

    .logo {
        display: none;
    }

    .a_logo {
        display: flex;
        justify-content: center;
    }

    /* --------------- */
    /* --- Forside --- */
    /* --------------- */

    /* --- Intro --- */

    .baggrundsbillede_pc {
        width: 100%;
        margin-top: -22%;
        position: absolute;
        z-index: -1;
        display: block;
    }

    .baggrund_forside {
        display: none;
    }

    .intro_forside {
        display: flex;
        flex-direction: row;
        margin: 16% 4%;
        padding: 1.5%;
        align-items: center;
        z-index: 3;
    }

    .intro_billede {
        height: 550px;
        width: 700px;
    }

    .lys_tekst {
        font-size: 11pt;
        line-height: 150%;
        margin: 0 7% -15% 10%;
    }

    .gul_tekst_lille {
        font-size: 20pt;
        margin: 0 0 80% 0;
    }

    .gul_tekst_stor {
        font-size: 72pt;
        margin: 0 0 0 -7%;
    }

    .gul_tekst {
        margin: -25% 0 12% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #booking_btn_forside {
        background-color: #841414;
        border: none;
        border-radius: 2.5%;
        color: #F0E7D0;
        font-family: montserrat;
        font-weight: 400;
        font-size: 11pt;
        padding: 1.5% 5%;
        position: absolute;
        top: 43em;
        display: block;
    }
    
    .booking_btn_container {
        display: none;
    }

    .intro_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #video_forside {
        height: 100em;
        margin: -93% 0;
    }

    /* --- Mystisk tirsdag --- */

    .mysterywine_forside {
        flex-direction: column;
        margin: -12% 0 0 0;
        height: 55em;
        padding: 0;
        box-shadow: 0 0 20px 30px #1D0303;
        width: 100%;
    }
    
    .mysterywine_img_container {
        display: flex;
        justify-content: flex-end;
    }

    .mysterywine_img {
        margin: 10% 0 0 0;
    }

    .lys_tekst_mystery {
        display: flex;
        justify-content: flex-start;
        width: 125%;
        margin: 0 0 0 -33%;
    }
    
    .læsmere_btn_forside {
        background-color: #841414;
        border: none;
        border-radius: 2.5%;
        color: #F0E7D0;
        font-family: montserrat;
        font-weight: 400;
        font-size: 11pt;
        padding: 1.5% 5%;
        display: block;
        margin: 15% 0 0 -45%;
    }

    .læsmere_btn_container {
        display: none;
    }

    .fodspor_forside {
        width: 18%;
        position: absolute;
        right: 3%;
        top: 13%;
        display: block;
    }

    /* --- Personalets favorit --- */

    .champagne_pc {
        display: block;
    }

    .champagne_mobil {
        display: none;
    }

    .beige_wave_stor {
        width: 100%;
        margin: -22% 0 0 0;
        height: 68em;
        position: absolute;
        position: relative;
        z-index: 3;
    }

    .champagne_overskrift {
        display: flex;
        justify-content: flex-end;
    }

    .overskrift_info_container {
        width: 30%;
        margin: 10% 8% 0 0;
    }
    
    .info_indhold {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .champagne_indhold_pc {
        display: flex;
        justify-content: center;
    }
    
    .champagne_info_img {
        width: 65%;
        margin: -5% 0 0 -35%;
    }

    .champagne_info_pc {
        display: flex;
        flex-direction: column;
    }
    
    .champagne_info_boks {
        background-color: #FEFAF1;
        border: #3F0A0A solid 3px;
        color: #3F0A0A;
        text-align: center;
        width: 25%;
        padding: 5%;
        margin: 0;
    }

    #champagne2 {
        width: 50%;
    }

    .info_1 {
        display: flex;
        align-items: center;
        margin: 10% 0 0 -45%;
    }

    .info_2 {
        display: flex;
        align-items: center;
        max-width: 100%;
        margin: 5% 0 5% 0;
    }

    .info_3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5% -50% 0 -35%;
        max-width: 100%;
    }

    .roed_tekst_lille {
        font-size: 12pt;
        font-style: italic;
        font-weight: 300;
    }
    
    .cirkel_info {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: #3F0A0A;
        display: inline-block;
    }
    
    .vertikal_streg_info_1pc {
        height: 2%;
        width: 30%;
        background-color: #3F0A0A;
        display: inline-block;
        margin: -1%;
    }

    .vertikal_streg_info_2pc {
        height: 1.5%;
        width: 100%;
        background-color: #3F0A0A;
        display: inline-block;
        margin: -1%;
        padding: 0;
    }

    .vertikal_streg_info_3pc {
        height: 2%;
        width: 45%;
        background-color: #3F0A0A;
        display: inline-block;
        margin: -1%;
    }
    
    .graa_tekst {
        font-family: Snell Roundhand Script, serif;
        color: #ADA796;
        font-size: 36pt;
        float: right;
    }
    
    .roed_tekst {
        font-family: Snell Roundhand Script, serif;
        color: #3F0A0A;
        font-size: 62pt;
        float: right;
        font-weight: 500;
        padding: 0;
    }
    
    .champagne_info {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }
    
    .sevoresvinkort_btn_pc {
        background-color: #841414;
        border: none;
        border-radius: 2.5%;
        color: #F0E7D0;
        font-family: montserrat;
        font-weight: 400;
        font-size: 11pt;
        padding: 15%;
        width: 200%;
        margin: 0 0 0 105%;
    }

    /* --- Vi tilbyder også --- */

    .draabe_forside {
        display: none;
    }

    .draabe_stor_forside {
        width: 100%;
        margin: -12% 0 15% 0;
        position: absolute;
        z-index: 2;
        display: block;
    }

    .tilbyder_forside {
        background-color: #4C0D0D;
        background-image: url(img/moenster1_stor.png);
        background-size: 100%;
        margin: -45% 0 0 0;
        padding: 0 0 5% 0;
        position: relative;
    }

    h4 {
        font-size: 36pt;
        padding-top: 37%;
        margin-bottom: 3%;
    }

    h3 {
        font-family: Snell Roundhand Script, serif;
        color: #F0E7D0;
        font-weight: light;
        font-size: 24pt;
        text-align: center;
    }

    .lys_tekst_tilbyder {
        font-size: 11pt;
    }

    .tilbyder_indhold_forside_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 3% 0 3%;
        max-height: 57em;
    }

    .tilbyder_indhold_forside {
        margin: 3%;
        padding: 4% 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 27%;
    }

    .tilbyder_billede {
        width: 100%;
        margin: 16% 0;
    }

    .sevoresvinkort_btn {
        font-size: 11pt;
        padding: 5% 22%;
        margin: 18% 0 -7%;
        position: relative;
        display: block;
    }

    .sevoresvinkort_btn_container {
        display: none;
    }

    .tilbyder_billede_width {
        width: 100%;
        height: 19em;
    }

    .tilbage_btn {
        padding: 1% 2%;
        font-size: 11pt; 
    }

    .tilbage_btn_container {
        justify-content: flex-end;
        margin: 3% 6.5% 2% 0;
    }

    .tilbyder3_mobil {
        margin: 0;
    }

    #vinkort_btn_hide {
        display: block;
    }

    #tekst_wd {
        margin-top: 0;
    }

    /* ----------------- */
    /* --- Se stedet --- */
    /* ----------------- */

    /* --- Intro --- */

    #h1_stor {
        font-size: 48pt;
        margin: -15%;
    }

    #lys_tekst_header {
        margin: 18% 5% 0 5%;
        font-size: 12pt;
    }
   

    /* --- Druen Riddersalen --- */

    #beige_wave_sestedet {
        display: none;
    }

    .beige_wave_stor {
        margin: -20% 0;
        display: block;
    }

    #beige_roed_wave {
        height: 72em;
    }

    .hyggekrog1_container {
        display: flex;
        justify-content: center;
        margin: -70% 0;
    }

    .hyggekrog2_container {
        margin: 12% 7% 12% 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 5;
        max-width: 100%;
    }

    #hyggekrog1_container {
        display: flex;
        justify-content: center;
        margin: 75% 0;
    }

    .roed_tekst {
        float: none;
    }

    #roed_stedet {
        font-size: 38pt;
    }

    #roed_lille_stedet {
        font-size: 11pt;
        margin: 5% 0;
    }

    #lys_lille_stedet {
        font-size: 11pt;
        margin: 5% 0;
    }

    .stedet_billede {
        padding: 0;
        width: 28em;
    }

    .hjoerne1 {
        height: 4em;
        margin: -5% 0 0 -5%;
    }
    
    .hjoerne2 {
        height: 4em;
        transform: rotate(90deg);
        margin: -5% -5% 0 0;
    }
    
    .hjoerne3 {
        height: 4em;
        transform: rotate(-90deg);
        margin: -2% 0 0 -5%;
    }
    
    .hjoerne4 {
        height: 4em;
        transform: rotate(180deg);
        margin: -2% -5% 0 0;
    }

    #druen {
        margin-top: 3%;
    }

    #riddersalen {
        margin-top: 2%;
    }

    #jagtstuen {
        margin-top: 5%;
        margin-left: 12%;
    }

    #hjoernkrog {
        margin-right: 4%;
    }

    #lys_stedet {
        font-size: 38pt;
    }

    .booking_btn {
        font-size: 11pt;
        padding: 1.5% 6%;
    }

    #book_pc {
        margin-top: -75%;
        display: block;
    }
    
    .stedet_baggrund {
        background-image: url(img/moenster2_stor.png);
        background-size: 100%;
        position: relative;
        z-index: -3;
    }

    #book_none {
        display: none;
    }

    .h1_stedet {
        margin: 12% 0 5% 0;
        font-size: 48pt;
    }

    #stedet_stor {
        margin-top: 5%;
    }

    .stedet_container {
        margin: 8% 0 0 0;
    }

    .billedgalleri {
        width: 30%;
        margin: 0 0 7% 0;
    }

    .pile_slide {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 50%;
        position: absolute;
        top: 72%;
    }

    .stedet_lys_tekst {
        margin-bottom: 0;
        font-size: 36pt;
        color: #ffffff;
        padding: 2% 5%;
    }
    
    #stedet_lille_tekst {
        font-size: 12pt;
        padding-bottom: 3%;
    }

    video {
        width: 60%;
    }

    #tilbage_stedet {
        margin-bottom: 2%;
    }

    /* -------------------- */
    /* --- Mystery Wine --- */
    /* -------------------- */

    .mysterywine_img_intro {
        width: 50%;
        margin: 15% 0;
    }

    #beige_wave_mw {
        display: none;
    }

    #beige_wave_mw_stor {
        width: 100%;
        margin: -20% 0 0 0;
        height: 65em;
        position: absolute;
        z-index: -1;
        display: block;
    }

    .mw_indhold_flex {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: 0 5%;
    }

    .mw_indhold {
        width: 50%;
    }

    .forbered_mw {
        background-color: #1D0303;
        position: relative;
        z-index: -3;
        padding-bottom: 10%;
    }

    #mw_tekst_forbered {
        text-align: center;
        font-size: 15pt;
        padding: 35% 5% 10% 5%;
    }

    #mw_stor2 {
        margin-top: 0;
    }

    .lys_tekst_mw {
        margin-left: -30%;
    }


}